<h1>Available Games</h1>

<% @games.in_groups_of(3, false) do |group| %>
  <div class="row">
    <% group.each do |game| %>
      <div class="col-sm-4">
        <%= render game %>
      </div>
    <% end %>
  </div>
<% end %>
<br>

<%= link_to 'New Game', new_game_path, class: "btn btn-primary" %>
